In [2]:
import pandas as pd
import  numpy as np

In [4]:
frame=pd.DataFrame(np.random.randn(4,3),index=["utah","ohio","texas","oregon"],columns=list("bde"))

In [5]:
frame

               b         d         e
utah    0.373386 -1.889396  2.952584
ohio   -0.433125 -0.945899  0.360012
texas   1.110496  0.206839  0.796939
oregon  0.273834  0.326544 -3.433091

In [6]:
np.abs(frame)

               b         d         e
utah    0.373386  1.889396  2.952584
ohio    0.433125  0.945899  0.360012
texas   1.110496  0.206839  0.796939
oregon  0.273834  0.326544  3.433091

In [7]:
f=lambda x:x.max()-x.min()

In [8]:
frame.apply(f)

b    1.543621
d    2.215941
e    6.385675
dtype: float64

In [9]:
frame.apply(f,axis=1)

utah      4.841980
ohio      1.305911
texas     0.903657
oregon    3.759635
dtype: float64

In [12]:
def f(x):
    return pd.Series([x.min()-x.max()],index=["min","max"])

In [13]:
frame.apply(f)

ValueError: Length of passed values is 1, index implies 2.

In [14]:
format=lambda x:x+2

In [15]:
frame.applymap(format)

               b         d         e
utah    2.373386  0.110604  4.952584
ohio    1.566875  1.054101  2.360012
texas   3.110496  2.206839  2.796939
oregon  2.273834  2.326544 -1.433091

In [18]:
obj=pd.Series(range(4),index=list("dabc"))

In [19]:
obj

d    0
a    1
b    2
c    3
dtype: int64

In [20]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [22]:
frame=pd.DataFrame(np.arange(8).reshape((2,4)),index=["three","one"],columns=list("dabc"))

In [23]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [24]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [25]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [26]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [27]:
obj=pd.Series([2,6,1,-4,6])

In [28]:
obj

0    2
1    6
2    1
3   -4
4    6
dtype: int64

In [30]:
obj.sort_index()

0    2
1    6
2    1
3   -4
4    6
dtype: int64

In [31]:
obj.sort_values()

3   -4
2    1
0    2
1    6
4    6
dtype: int64

In [32]:
frame=pd.DataFrame({"b":[4,7,-3,2],"a":[0,1,0,1]})

In [33]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [34]:
frame.sort_values(by="b")

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [35]:
frame.sort_values(by=2,axis=1)

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [37]:
obj=pd.Series([7,-5,7,4,2,0,4])

In [38]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [40]:
obj=pd.Series(range(5),index=["a","a","b","b","c"])

In [41]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [42]:
obj.index.is_unique

False

In [43]:
obj=pd.Series(list("caddabbcrtttterm"))

In [45]:
obj.unique()

array(['c', 'a', 'd', 'b', 'r', 't', 'e', 'm'], dtype=object)

In [46]:
obj.value_counts()

t    4
a    2
d    2
r    2
c    2
b    2
e    1
m    1
dtype: int64